{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <button type="submit" form="form-module" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
        <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a></div>
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
          <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    {% if error_warning %}
      <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
        <button type="button" class="close" data-dismiss="alert">&times;</button>
      </div>
    {% endif %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-list"></i> {{ text_list }}</h3>
      </div>
      <div class="panel-body">
	  	 <form action="{{ delete }}" method="post" enctype="multipart/form-data" id="form-customer-group">
		 
			 <div class="form-group required">
				<label class="col-sm-2 control-label">{{ entry_p_code }}</label>
				<div class="col-sm-10">
				 <input type="text" name="p_code" value="{{ p_code }}"  />
				</div>
			  </div>
			  			 
			 	 <div class="form-group">
					<label class="col-sm-2 control-label" for="input-prom-product"><span data-toggle="tooltip" title="{{ help_related }}">{{ entry_prom_product }}</span></label>
					<div class="col-sm-10">
					  <input type="text" name="prom_product" value="" placeholder="{{ entry_prom_product }}" id="input-prom-product" class="form-control"/>
					  <div id="promoted_product" class="well well-sm" style="height: 150px; overflow: auto;"> {% for promoted_product in promoted_products %}
						  <div id="promoted_product{{ promoted_product.product_id }}"><i class="fa fa-minus-circle"></i> {{ promoted_product.name }}
							<input type="hidden" name="prom_product_ids[]" value="{{ promoted_product.product_id }}"/>
						  </div>
						{% endfor %}</div>
					</div>
				  </div>
				  
				  <div class="form-group">
					<label class="col-sm-2 control-label" for="input-free-product"><span data-toggle="tooltip" title="{{ help_related }}">{{ entry_free_product }}</span></label>
					<div class="col-sm-10">
					  <input type="text" name="free_product" value="" placeholder="{{ entry_free_product }}" id="input-free-product" class="form-control"/>
					  <div id="free_product" class="well well-sm" style="height: 150px; overflow: auto;"> {% for free_product in free_products %}
						  <div id="free_product{{ free_product.product_id }}"><i class="fa fa-minus-circle"></i> {{ free_product.name }}
							<input type="hidden" name="free_product_ids[]" value="{{ free_product.product_id }}"/>
						  </div>
						{% endfor %}</div>
					</div>
				  </div>
				  
				<div class="form-group">
					<label class="col-sm-2 control-label" for="input-status">{{ entry_status }}</label>
					<div class="col-sm-10">
					  <select name="status" id="input-status" class="form-control">
						{% if status %}
						  <option value="1" selected="selected">{{ text_enabled }}</option>
						  <option value="0">{{ text_disabled }}</option>
						{% else %}
						  <option value="1">{{ text_enabled }}</option>
						  <option value="0" selected="selected">{{ text_disabled }}</option>
						{% endif %}
					  </select>
					</div>
				  </div>
        </form>
       	 
        
      </div>
    </div> 
  </div>
</div>
<script type="text/javascript">
// promoted_product
$('input[name=\'prom_product\']').autocomplete({
	'source': function(request, response) {
		$.ajax({
			url: 'index.php?route=catalog/product/autocomplete&user_token={{ user_token }}&filter_name=' + encodeURIComponent(request),
			dataType: 'json',
			success: function(json) {
				response($.map(json, function(item) {
					return {
						label: item['name'],
						value: item['product_id']
					}
				}));
			}
		});
	},
	'select': function(item) {
		$('input[name=\'prom_product\']').val('');

		$('#promoted_product' + item['value']).remove();

		$('#promoted_product').append('<div id="promoted_product' + item['value'] + '"><i class="fa fa-minus-circle"></i> ' + item['label'] + '<input type="hidden" name="prom_product_ids[]" value="' + item['value'] + '" /></div>');
	}
});

$('#promoted_product').delegate('.fa-minus-circle', 'click', function() {
	$(this).parent().remove();
});

// free_product
$('input[name=\'free_product\']').autocomplete({
	'source': function(request, response) {
		$.ajax({
			url: 'index.php?route=catalog/product/autocomplete&user_token={{ user_token }}&filter_name=' + encodeURIComponent(request),
			dataType: 'json',
			success: function(json) {
				response($.map(json, function(item) {
					return {
						label: item['name'],
						value: item['product_id']
					}
				}));
			}
		});
	},
	'select': function(item) {
		$('input[name=\'free_product\']').val('');

		$('#free_product' + item['value']).remove();

		$('#free_product').append('<div id="free_product' + item['value'] + '"><i class="fa fa-minus-circle"></i> ' + item['label'] + '<input type="hidden" name="free_product_ids[]" value="' + item['value'] + '" /></div>');
	}
});

$('#free_product').delegate('.fa-minus-circle', 'click', function() {
	$(this).parent().remove();
});
//--></script>
{{ footer }}