{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
	  	<a href="{{ add }}" data-toggle="tooltip" title="{{ button_add }}" class="btn btn-primary"><i class="fa fa-plus"></i></a>
		<button type="button" data-toggle="tooltip" title="{{ button_delete }}" class="btn btn-danger" onclick="confirm('{{ text_confirm }}') ? $('#form-customer-group').submit() : false;"><i class="fa fa-trash-o"></i></button>
<!--        <button type="submit" form="form-module" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
-->        <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a></div>
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
          <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    {% if error_warning %}
      <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
        <button type="button" class="close" data-dismiss="alert">&times;</button>
      </div>
    {% endif %}
	{% if success %}
    <div class="alert alert-success"><i class="fa fa-check-circle"></i> {{ success }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
     {% endif %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-list"></i> {{ text_list }}</h3>
      </div>
      <div class="panel-body">
	  	 <form action="{{ delete }}" method="post" enctype="multipart/form-data" id="form-customer-group">
          <div class="table-responsive">
            <table class="table table-bordered table-hover">
              <thead>
                <tr>
                  <td style="width: 1px;" class="text-center"><input type="checkbox" onclick="$('input[name*=\'selected\']').prop('checked', this.checked);" /></td>
                  <td class="text-left">{% if sort == 'p_code' %}
                <a href="{{ sort_p_code }}" class="{{ order|lower }}">{{ column_p_code }}</a>
               {% else %}
                <a href="{{ sort_p_code }}">{{ column_p_code }}</a>
                {% endif %}</td>
				
				<td class="text-right">{% if sort == 'prom_product_ids' %}
                <a href="{{ sort_prom_product_ids }}" class="{{ order|lower }}">{{ column_prom_product_ids }}</a>
                {% else %}
                <a href="{{ sort_prom_product_ids }}">{{ column_prom_product_ids }}</a>
                {% endif %}</td>
                  <td class="text-right">{% if sort == 'free_product_ids' %}
                <a href="{{ sort_free_product_ids }}" class="{{ order|lower }}">{{ column_free_product_ids }}</a>
                {% else %}
                <a href="{{ sort_free_product_ids }}">{{ column_free_product_ids }}</a>
                {% endif %}</td>
				<td class="text-right">{% if sort == 'status' %}
                <a href="{{ sort_status }}" class="{{ order|lower }}">{{ column_status }}</a>
                {% else %}
                <a href="{{ sort_status }}">{{ column_status }}</a>
                {% endif %}</td>
                  <td class="text-right">{{ column_action }}</td>
                </tr>
              </thead>
              <tbody>
					{% if promotion_products %}
						{% for promotion_product in promotion_products %}
							<tr>
							  <td class="text-center">{% if promotion_product.selected %}
								<input type="checkbox" name="selected[]" value="{{ promotion_product.id }}" checked="checked" />
								{% else %}
								<input type="checkbox" name="selected[]" value="{{ promotion_product.id }}" />
								{% endif %}</td>
								<td class="text-left">{{ promotion_product.p_code }}</td>
							  <td class="text-left">{{ promotion_product.prom_product_ids }}</td>
							  <td class="text-left">{{ promotion_product.free_product_ids }}</td>
							  <td class="text-left">{{ promotion_product.status }}</td>
							  <td class="text-right">{% for action in promotion_product.action %}
								[ <a href="{{ action.href }}">{{ action.text }}</a> ]
								{% endfor %}</td>
							</tr>
						{% endfor %}
					{% else %}
						<tr>
						  <td class="center" colspan="6">{{ text_no_results }}</td>
						</tr>
					{% endif %}
              </tbody>
            </table>
          </div>
        </form>
       	 <div class="row">
          <div class="col-sm-6 text-left">{{ pagination }}</div>
      
        </div>
        
      </div>
    </div> 
  </div>
</div>
{{ footer }}